extends layout.pug

block bgimage
  div(style="text-align: right")
    img#bg(src="https://achievement-images.teamtreehouse.com/javascript-loops-stage3.png", alt="")

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Adel ak
        p.lead.text-light
          | Full Stack JavaScript Developer.
        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p 
            | Hi, My name is Adel and I am a Full Stack JS Developer and Tech enthusiast. I like creating new things and never fear from a challenge. Seeing concepts come to life is one of my favorite parts of being a developer.
            | I look forward to continue growing and improving the skills I already have, as well as learning new programming languages and about new technology!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JS
          li jQuery
          li Nodejs
          li Express
          li Debugging 
          li git 
        h6 Contact Info
        ul
          li 555-555-1234
          li adoolak@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/adel-a-k-249027189/' target="_blank") 
          i.fa(style='font-size:24px;color:#0077B5') &#xf08c;
          |   LinkedIn
        a.button.expanded(href='https://github.com/Adel-ak' target="_blank") 
          i.fa(style='font-size:24px') &#xf09b;
          |   GitHub
        a.button.expanded(href='https://twitter.com/Adel_xoxo' target="_blank") 
          i.fa(style='font-size:24px;color:#1DA1F2') &#xf099;
          |   Twitter 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  