extends layout.pug

block content
    div#error.grid-container
        section
            h1= `${error.status + ":" + error.message}`
            h5= `${url}`
            pre= error.stack
            a.button.secondary.large(href='/' style="border-radius:15px; margin-top:15px") Go Home
    img(src="../static/images/tenor.gif", alt="",style="margin-left:40%")