<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/app.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel="shortcut icon" href="/static/images/favicon.ico")
  body
    block bgimage
      
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='../static/images/adelak.jpg')
          .cell.auto
            h5 &lt&gt Adel ak &lt/&gt
            p.text-light
              | Full Stack Web Dev / IT enthusiast
            a(href='/about') Learn More →
          a#report(href='/report', style="font-size: 10px") Report bug  
            img(src="../static/images/bug-white.png", style="height: 25px; width: 25px;", alt="")
    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')
          span.title-bar-title
            i.fas(style='font-size:18px') &#xf109; + Adel ak = 
              strong { 
              em DEV
              strong  }
            
              
      block content
  
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
