label {
	font-size: 1.5rem;
}

body {
	background-repeat: no-repeat;
	overflow-x: hidden;
	background-color: rgba(255, 255, 255, 0.6);
}

strong{
	color: yellow;
	font-size: 25px
}
em{
	color: black;
}
.button.expanded{
	width: 121px;
}

#message{
	background-color: green;
	color: white;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 50px;
	margin-right: 60px;
	border-radius: 15px
}

#bug img {
	content: url('../images/bug.png');
	width: 30px;
	height: 30px;
	overflow: hidden;
}

#bug img:hover {
	content: url('../images/bug-white.png');
}

#error section {
	width: 80%;
	color: #727C85;
	margin: auto;
	text-align: center;
}

#error {
	padding-top: 200px;
	height: 100%;
}

#bg {
	transform: rotate(-30deg);
	/* float: right; */
	position: fixed;
	height: 90%;
	right: -100px;
	bottom: -150px;
	z-index: -1;
}

#report:hover:after {
	content: " - beta feature";
	background-color: rgba(0, 0, 0, 0.562);
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px
}

.top {
	background-color: rgb(83, 77, 77);
	max-width: 200px;
	border-radius: 4px;
	padding: 0.4rem;
	font-size: 20px;
	color: white;
}

.portfolio-me a {
	border-bottom: none;
}

.has-tip {
	margin-right: 140px;
}

.portfolio-me {
	background: #5f0023
}

.title-bar {
	background: #5f0023
}

.fas {
	padding-left: 20px
}

.menu-icon {
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	#bg {
		height: 60%;
	}
  }